Repository mumble-voip/mumble, pull requests merged in 2018-02, with the labels that each got.

#3337 XMLTools: remove unused default argument 'opstyle' in recurseParse().
  src/mumble/XMLTools.h
  src/tests/TestXMLTools/TestXMLTools.cpp
Labels: build, macOS

#3338 Build with PortAudio support if the "portaudio" CONFIG flag is specified
  INSTALL
  src/mumble/mumble.pro
Labels: audio, linux, macOS, mumble

#3339 Set custom build folders globally, with support for shadow builds
  3rdparty/celt-0.11.0-build/celt-0.11.0-build.pro
  3rdparty/celt-0.7.0-build/celt-0.7.0-build.pro
  3rdparty/mach-override-build/mach-override-build.pro
  3rdparty/minhook-build/minhook-build.pro
  3rdparty/opus-build/opus-build.pro
  3rdparty/sbcelt-helper-build/sbcelt-helper-build.pro
  3rdparty/sbcelt-lib-build/sbcelt-lib-build.pro
  3rdparty/speex-build/speex-build.pro
  3rdparty/xinputcheck-build/xinputcheck-build.pro
  g15helper/g15helper.pro
  macx/compat/compat.pro
  macx/osax/osax.pro
  overlay/overlay-shared.pro
  overlay/overlay.pro
  overlay/overlay_exe/overlay_exe-shared.pro
  overlay/overlay_exe/overlay_exe.pro
  overlay_gl/overlay_gl.pro
  overlay_winx64/overlay_exe_winx64/overlay_exe_winx64.pro
  overlay_winx64/overlay_winx64.pro
  plugins/plugins.pri
  qmake/builddir.pri
  qmake/compiler.pri
  qmake/symbols.pri
  src/mumble.pri
  src/mumble_exe/mumble_exe.pro
  src/mumble_proto/mumble_proto.pro
  src/murmur/murmur_grpc/murmur_grpc.pro
  src/murmur/murmur_ice/murmur_ice.pro
  src/tests/test.pri
Labels: build
