Repository mumble-voip/mumble, pull requests merged in 2018-06, with the labels that each got.

#3420 Introduce channelcountlimit to limit max channels per server
  scripts/murmur.ini
  src/Mumble.proto
  src/mumble/Messages.cpp
  src/murmur/Messages.cpp
  src/murmur/Meta.cpp
  src/murmur/Meta.h
  src/murmur/Server.cpp
  src/murmur/Server.h
Labels: murmur, priority/P2 - Important

#3405 travis-ci: unlink Python 2 files on MacOS
  scripts/travis-ci/before_install.bash
Labels: ci

#3422 Fix #3411: Threaded access to Database
  src/mumble/ACLEditor.cpp
  src/mumble/ConnectDialog.cpp
  src/mumble/Database.cpp
  src/mumble/Database.h
  src/mumble/Global.h
  src/mumble/GlobalShortcut.cpp
  src/mumble/MainWindow.cpp
  src/mumble/Messages.cpp
  src/mumble/Overlay.cpp
  src/mumble/ServerHandler.cpp
  src/mumble/ServerHandler.h
  src/mumble/Tokens.cpp
  src/mumble/UserLocalVolumeDialog.cpp
  src/mumble/UserModel.cpp
  src/mumble/main.cpp
Labels: mumble, priority/P0 - Blocker
