Repository mumble-voip/mumble, pull requests merged in 2018-03, with the labels that each got.

#3355 Translation update
  src/mumble/mumble_en.ts
Labels: translation

#3349 Add configurable "You joined channel" and "You have been moved to channel by..." messages
  src/mumble/Log.cpp
  src/mumble/Log.h
  src/mumble/Messages.cpp
  src/mumble/mumble_en.ts
Labels: feature-request, mumble

#3354 Add per-notification setting to toggle window highlight (if not active)
  src/mumble/Log.cpp
  src/mumble/Log.h
  src/mumble/Log.ui
  src/mumble/Settings.h
  src/mumble/mumble_en.ts
Labels: mumble

#3368 Change icon when muted/deafened
  src/mumble/MainWindow.cpp
  src/mumble/MainWindow.h
  src/mumble/UserModel.cpp
  src/mumble/UserModel.h
Labels: mumble, ui

#3369 installer: only use WiX toolset from MUMBLE_PREFIX if the MUMBLE_PREFIX env var is set.
  installer/MumbleInstall.wixproj
Labels: build, installer, windows

#3364 Correct case of AGL/agl.h to allow compilation on case-sensitive filesystem
  overlay_gl/overlay.c
Labels: build, macOS

#3372 plugins/rl: single source file for both Linux and Windows
  plugins/rl/rl.cpp
  plugins/rl/rl.pro
  plugins/rl/rl_win32.cpp
Labels: mumble, positional audio

#3359 SvgIcon: add new class to work around issues with SVG QIcons in Plasma/KStatusNotifierItem
  src/mumble/MainWindow.cpp
  src/mumble/SvgIcon.cpp
  src/mumble/SvgIcon.h
  src/mumble/mumble.pro
Labels: mumble, ui

#3381 About: allow text in "About" tab to be selected
  src/mumble/About.cpp
Labels: feature-request, mumble, ui

#3382 plugins/rl: update plugin and add avatar top vector support
  plugins/rl/rl.cpp
Labels: mumble, positional audio

#3383 UserModel: show muted/deafened state icon only in the right hand column
  src/mumble/UserModel.cpp
Labels: mumble, ui

#3391 XMLTools: include QXmlStream headers to get proper symbols names on Qt 4.
  src/mumble/XMLTools.h
Labels: Qt, build, mumble
