Repository mumble-voip/mumble, pull requests merged in 2018-07, with the labels that each got.

#3396 Add JACK Audio support
  scripts/travis-ci/before_install.bash
  src/mumble/JackAudio.cpp
  src/mumble/JackAudio.h
  src/mumble/Settings.cpp
  src/mumble/Settings.h
  src/mumble/mumble.pro
Labels: audio, linux, mumble

#3436 Comment and status text fixes
  scripts/release.pl
  src/SSLLocks.cpp
Labels: code

#3435 JACK: don't start the server if using another backend, create only required ports
  src/mumble/JackAudio.cpp
  src/mumble/JackAudio.h
Labels: audio, mumble

#3437 Settings: enable JACK auto-connect option by default
  src/mumble/Settings.cpp
Labels: audio, mumble

#3438 Translation update
  src/mumble/mumble_en.ts
Labels: translation

#3426 Messages: revamp channel join/leave logic and add "User connected and entered channel." message
  src/mumble/Messages.cpp
  src/mumble/mumble_en.ts
Labels: mumble

#3431 Create OpusCodec class, similar to CeltCodec, in order to load Opus' functions from a shared library
  3rdparty/opus-build/opus-build.pro
  src/mumble/Audio.cpp
  src/mumble/AudioInput.cpp
  src/mumble/AudioInput.h
  src/mumble/AudioOutputSpeech.cpp
  src/mumble/AudioOutputSpeech.h
  src/mumble/Global.h
  src/mumble/MainWindow.cpp
  src/mumble/OpusCodec.cpp
  src/mumble/OpusCodec.h
  src/mumble/mumble.pro
Labels: audio, mumble

#3443 installer: remove unused variables
  installer/Settings.wxi
Labels: code, installer

#3442 Add configurable "User connected and entered channel" and "User left channel and disconnected" messages
  src/mumble/Log.cpp
  src/mumble/Log.h
  src/mumble/Messages.cpp
  src/mumble/Settings.cpp
  src/mumble/mumble_en.ts
Labels: feature-request, mumble

#3451 Add configurable private text message notification
  src/mumble/Log.cpp
  src/mumble/Log.h
  src/mumble/Messages.cpp
  src/mumble/Settings.cpp
  src/mumble/mumble_en.ts
Labels: feature-request, mumble

#3453 AudioInput: calculate audio statistics after RNNoise processing
  src/mumble/AudioInput.cpp
Labels: mumble

#3454 INSTALL: document "no-jackaudio" option
  INSTALL
Labels: mumble

#3450 OpusCodec: add "libopus.so.0" (Linux) and "opus.dll" (Windows) to the library names
  src/mumble/OpusCodec.cpp
Labels: mumble

#3456 Add "--jackname" and "--jn" parameters to set a custom Jack client name
  src/mumble/JackAudio.cpp
  src/mumble/Settings.cpp
  src/mumble/Settings.h
  src/mumble/main.cpp
Labels: mumble

#3466 Translation update
  src/mumble/mumble_en.ts
Labels: translation

#3370 Fix Boost library link for MSYS2
  src/mumble/mumble.pro
Labels: build, windows

#3473 Messages: set user hash and ID on join
  src/mumble/Messages.cpp
Labels: mumble

#2902 installer: quote GUIDs in Settings.wxi.
  installer/Settings.wxi
Labels: installer

#3474 Log: fix notification being triggered for own messages when TTS readback is enabled
  src/mumble/Log.cpp
Labels: mumble

#3481 installer: copy rnnoise.dll
  installer/Files.wxs
  installer/Product.wxs
  installer/Settings.wxi
Labels: build, installer, mumble, windows
