Repository mumble-voip/mumble, pull requests merged in 2018-08, with the labels that each got.

#3490 JackAudio: change disconnect_ports() so that it uses stored ports instead of retrieving them using jack_get_ports()
  src/mumble/JackAudio.cpp
Labels: audio, mumble

#3499 icons: update Mumble icon for macOS
  icons/mumble.icns
  icons/mumble.osx.png
  src/mumble/mumble.qrc
Labels: macOS, mumble, ui

#3510 Prevent instability and crash due to message flood
  src/murmur/Messages.cpp
  src/murmur/ServerUser.cpp
  src/murmur/ServerUser.h
Labels: murmur, needs-backport, priority/P0 - Blocker

#3512 Lower bucket params
  src/murmur/ServerUser.cpp
Labels: murmur
