Repository mumble-voip/mumble, pull requests merged in 2018-12, with the labels that each got.

#3559 Messages: fix user registration status not being updated
  src/mumble/Messages.cpp
Labels: mumble, ui

#3418 ALSAAudioInput: use snd_pcm_drop() instead of snd_pcm_drain() in class destructor
  src/mumble/ALSAAudio.cpp
Labels: audio, linux

#3564 Don't drop indices on MySQL
  src/murmur/ServerDB.cpp
Labels: murmur

#3464 Fix crash when Opus is not available and add critical error message
  src/mumble/AudioInput.cpp
  src/mumble/AudioOutputSpeech.cpp
  src/mumble/Messages.cpp
  src/mumble/mumble_en.ts
Labels: mumble

#3568 Fix build on FreeBSD
  .gitignore
  src/SSL.cpp
Labels: build
