Repository mumble-voip/mumble, pull requests merged in 2019-03, with the labels that each got.

#3616 OverlayEditorScene: fix object opacity calculation
  src/mumble/OverlayEditorScene.cpp
Labels: mumble, overlay, ui

#3623 Include "Global.h" after "Mumble.pb.h", to avoid a redefinition issue with protobuf 3.7
  src/mumble/ACLEditor.cpp
  src/mumble/About.cpp
  src/mumble/AudioOutput.cpp
  src/mumble/AudioWizard.cpp
  src/mumble/BanEditor.cpp
  src/mumble/ConnectDialog.cpp
  src/mumble/CustomElements.cpp
  src/mumble/DBus.cpp
  src/mumble/GlobalShortcut.cpp
  src/mumble/LCD.cpp
  src/mumble/Log.cpp
  src/mumble/Log_unix.cpp
  src/mumble/LookConfig.cpp
  src/mumble/MainWindow.cpp
  src/mumble/Messages.cpp
  src/mumble/NetworkConfig.cpp
  src/mumble/OSS.cpp
  src/mumble/Overlay.cpp
  src/mumble/OverlayClient.cpp
  src/mumble/OverlayConfig.cpp
  src/mumble/OverlayEditor.cpp
  src/mumble/OverlayEditorScene.cpp
  src/mumble/OverlayUser.cpp
  src/mumble/OverlayUserGroup.cpp
  src/mumble/Overlay_macx.mm
  src/mumble/Plugins.cpp
  src/mumble/PulseAudio.cpp
  src/mumble/RichTextEditor.cpp
  src/mumble/ServerHandler.cpp
  src/mumble/SocketRPC.cpp
  src/mumble/Themes.cpp
  src/mumble/Tokens.cpp
  src/mumble/UserEdit.cpp
  src/mumble/UserInformation.cpp
  src/mumble/UserModel.cpp
  src/mumble/UserView.cpp
  src/mumble/VersionCheck.cpp
  src/mumble/VoiceRecorder.cpp
  src/mumble/VoiceRecorderDialog.cpp
  src/mumble/WASAPI.cpp
  src/mumble/WASAPINotificationClient.cpp
  src/mumble/os_macx.mm
Labels: build, mumble

#3627 Add global shortcuts for setting specific transmit modes
  src/mumble/MainWindow.cpp
  src/mumble/MainWindow.h
  src/mumble/mumble_en.ts
Labels: GlobalShortcuts, mumble

#3626 mumble/main.cpp: fix compilation with Qt >= 5.9
  src/mumble/main.cpp
Labels: Qt, build, mumble, windows

#3622 travis-ci: switch to Xenial for Qt 5 builds, improve matrix, update MXE mirror
  .travis.yml
  scripts/travis-ci/before_install.bash
  scripts/travis-ci/script.bash
Labels: build

#3638 Fix pod bay doors trigger system
  icons/rec.svg
  src/mumble/mumble.qrc
Labels: mumble

#3639 Messages: show "You moved user to channel" message also when the user is not in/moved to own channel
  src/mumble/Messages.cpp
Labels: mumble, ui

#3645 Fix log spacing and typos when setting up the PBKDF2 iteration count
  src/murmur/ServerDB.cpp
  src/murmur/ServerDB.h
Labels: murmur

#3654 LCD.cpp: remove unused "bound" variable
  src/mumble/LCD.cpp
Labels: build, mumble
