Repository mumble-voip/mumble, pull requests merged in 2019-02, with the labels that each got.

#3594 murmur: cross pkg-config build fix
  src/murmur/murmur.pro
Labels: build

#3595 Refactor themes.cpp and themes.h
  src/mumble/Themes.cpp
  src/mumble/Themes.h
Labels: mumble, theme

#3604 Add tray menu action to show the main window
  src/mumble/MainWindow.cpp
  src/mumble/MainWindow.h
  src/mumble/MainWindow.ui
  src/mumble/mumble_en.ts
Labels: linux, mumble, ui

#3611 AudioWizard: fix speech sample path
  src/mumble/AudioWizard.cpp
Labels: mumble

#3612 mumble: change title of windows which have the default one ("Form")
  src/mumble/ASIOInput.ui
  src/mumble/AudioInput.ui
  src/mumble/AudioOutput.ui
  src/mumble/LCD.ui
  src/mumble/Plugins.ui
Labels: mumble, translation, ui

#3614 Default disable GKey
  src/mumble/Settings.cpp
Labels: mumble, windows
