Repository mumble-voip/mumble, pull requests merged in 2019-09, with the labels that each got.

#3783 Get rid of unused variable "records"
  src/murmur/ServerUser.cpp
Labels: code

#3801 Fix vertical resizing of user local volume dialog
  src/mumble/UserLocalVolumeDialog.ui
Labels: mumble, ui

#3753 Implement & auto-select Opus' low delay mode
  src/mumble/AudioConfigDialog.cpp
  src/mumble/AudioInput.cpp
  src/mumble/AudioInput.h
  src/mumble/AudioInput.ui
  src/mumble/Settings.cpp
  src/mumble/Settings.h
Labels: audio, mumble

#3806 Renamed AudioOutputUser::needSamples
  src/mumble/AudioOutput.cpp
  src/mumble/AudioOutputSample.cpp
  src/mumble/AudioOutputSample.h
  src/mumble/AudioOutputSpeech.cpp
  src/mumble/AudioOutputSpeech.h
  src/mumble/AudioOutputUser.h
Labels: code, mumble

#3807 Update Simplified Chinese Translations installer
  installer/Translations/SimpChinese.wxl
Labels: installer, mumble, translation

#3660 BonjourClient, OverlayClient: convert raw pointers to QScopedPointer(s)
  src/mumble/BonjourClient.cpp
  src/mumble/BonjourClient.h
  src/mumble/ConnectDialog.cpp
  src/mumble/OverlayClient.cpp
  src/mumble/OverlayClient.h
Labels: code, mumble

#3657 Remove unneeded null pointer checks
  src/mumble/JackAudio.cpp
  src/murmur/MurmurGRPCImpl.cpp
  src/murmur/Server.cpp
Labels: code, mumble, murmur

#3811 fixed (g++) warning about implicit fallthrough
  src/mumble/PulseAudio.cpp
Labels: code, mumble

#3815 Enabled sorting of shortcuts function list
  src/mumble/GlobalShortcut.cpp
Labels: mumble, ui

#3316 PulseAudio: don't send empty data into the stream if audio output is not enabled
  src/mumble/PulseAudio.cpp
Labels: audio, linux, mumble

#3820 ServerHandler: Use the SRV resolved port for UDP connections
  src/mumble/ServerHandler.cpp
  src/mumble/ServerHandler.h
Labels: mumble
