Repository mumble-voip/mumble, pull requests merged in 2019-10, with the labels that each got.

#3824 Add include guards for builds without dbus
  src/mumble/Log_unix.cpp
Labels: build, code, mumble

#3810 Azure Pipelines: get Mumble version with mumble-version.py
  scripts/azure-pipelines/build_linux.bash
  scripts/mumble-version.py
Labels: build, release-management

#3830 Fix dangling else warning in ConnectDialog::OnSortChanged()
  src/mumble/ConnectDialog.cpp
Labels: build, code, mumble

#3829 Fix QPalette::Background is deprecated
  src/mumble/AudioStats.cpp
Labels: build, code, mumble

#3832 Replace deprecated qSort() with std::sort()
  src/mumble/ALSAAudio.cpp
  src/mumble/GlobalShortcut_win.cpp
  src/mumble/JackAudio.cpp
  src/mumble/OSS.cpp
  src/mumble/PulseAudio.cpp
  src/mumble/WASAPI.cpp
  src/murmur/MurmurGRPCImpl.cpp
Labels: build, code, mumble, murmur

#3833 Fix dangling else warning in Server::msgACL()
  src/murmur/Messages.cpp
Labels: build, code, murmur

#3835 Murmur.ice: add missing value to UserInfo
  src/murmur/Murmur.ice
Labels: ice, murmur, needs-backport

#3836 Backport "Murmur.ice: add missing value to UserInfo"
  src/murmur/Murmur.ice
Labels: ice, murmur

#3828 Remove DirectSound implementation
  INSTALL
  src/mumble/ASIOInput.cpp
  src/mumble/AudioInput.ui
  src/mumble/AudioOutput.ui
  src/mumble/AudioWizard.ui
  src/mumble/DirectSound.cpp
  src/mumble/DirectSound.h
  src/mumble/Settings.cpp
  src/mumble/Settings.h
  src/mumble/main.cpp
  src/mumble/mumble.pro
  src/mumble/mumble_en.ts
Labels: audio, mumble, windows

#3837 Set target macOS version to 10.9, fix deprecated stuff, restore Azure Pipelines build
  .azure-pipelines.yml
  macx/compat/compat.m
  macx/compat/compat.pro
  macx/macx.pro
  macx/osax/osax.pro
  macx/scripts/osxdist.py
  overlay_gl/init_mac.c
  qmake/compiler.pri
  scripts/travis-ci/script.bash
  src/mumble/GlobalShortcut_macx.mm
  src/mumble/Overlay.cpp
  src/mumble/Overlay.h
  src/mumble/Overlay_macx.mm
Labels: build, code, macOS

#3839 MurmurGRPCImpl.cpp: remove QAtomicInt compatibility layer
  src/murmur/MurmurGRPCImpl.cpp
Labels: Qt, build, code, murmur

#3826 Revamp JackAudio implementation
  src/mumble/JackAudio.cpp
  src/mumble/JackAudio.h
Labels: audio, mumble

#3827 Add setting to toggle 24-hour time format for the chat
  src/mumble/Log.cpp
  src/mumble/Log.ui
  src/mumble/Settings.cpp
  src/mumble/Settings.h
Labels: feature-request, mumble

#3841 plugins: fix escape() warnings
  plugins/bf1/bf1.cpp
  plugins/mumble_plugin_utils.h
Labels: build, code, mumble, positional audio

#3842 Fix deprecated QSslSocket::setDefaultCaCertificates
  src/mumble/main.cpp
Labels: Qt, code, mumble

#3843 Azure Pipelines: build macOS installer and add it as artifact
  .azure-pipelines.yml
  scripts/azure-pipelines/build_macos.bash
Labels: build, ci, macOS

#3844 Travis CI: remove macOS build, it's on Azure Pipelines
  .travis.yml
  scripts/travis-ci/before_install.bash
  scripts/travis-ci/script.bash
Labels: build, ci, macOS

#3846 Travis CI: transform Linux x86_64 build into ARM64
  .travis.yml
  scripts/travis-ci/before_install.bash
  scripts/travis-ci/script.bash
Labels: ci

#3849 TaskList.cpp: fix compilation error with MinGW when PCH is disabled
  src/mumble/TaskList.cpp
Labels: build, mumble, windows

#3850 Travis CI: switch to Ubuntu Bionic (18.04)
  .travis.yml
  scripts/travis-ci/before_install.bash
  scripts/travis-ci/script.bash
Labels: build, ci

#3851 Travis CI: disable SonarCloud scanner, incompatible with Ubuntu Bionic (18.04)
  .travis.yml
  scripts/travis-ci/script.bash
Labels: ci

#3853 Log: change message names to have consistent capitalization (first word only)
  src/mumble/Log.cpp
Labels: mumble, ui

#3855 .lgtm.yml: Prepare for Ubuntu 19.10
  .lgtm.yml
Labels: build, ci

#3864 Fixed posting of empty clipboards to channel on Global Shortcut input
  src/mumble/MainWindow.cpp
Labels: mumble, ui

#3865 Make client robust against server dropping occupied channel
  src/mumble/Messages.cpp
  src/mumble/UserModel.cpp
  src/mumble/UserModel.h
Labels: mumble

#3866 Disconnect if server does not send clients user before sync
  src/mumble/Messages.cpp
Labels: mumble

#3867 Make client more robust against inconsistent state
  src/mumble/Messages.cpp
Labels: mumble

#3868 Use QDateTime to avoid time underflow
  src/murmur/ServerUser.cpp
  src/murmur/ServerUser.h
Labels: murmur

#3869 Update translations
  scripts/updatetranslations.sh
  src/mumble/main.cpp
  src/mumble/mumble_en.ts
Labels: translation
