Repository mumble-voip/mumble, pull requests merged in 2019-08, with the labels that each got.

#3737 Server.cpp: replace deprecated QSslSocket::setCiphers() with QSslConfiguration::setCiphers()
  src/murmur/Server.cpp
Labels: Qt, build, murmur

#3738 Register.cpp: replace deprecated QSslSocket::defaultCaCertificates()
  src/murmur/Register.cpp
Labels: Qt, build, murmur

#3739 MurmurIce.cpp: replace deprecated qSort() with std::sort()
  src/murmur/MurmurIce.cpp
Labels: Qt, build, murmur

#3740 Azure Pipelines: store build environment in the proper directory
  scripts/azure-pipelines/build.ps1
  scripts/azure-pipelines/install-environment.ps1
Labels: build, ci

#3729 plugins: move common functions and variables from OS-specific headers to mumble_plugin_main.h
  plugins/aoc/aoc.cpp
  plugins/arma2/arma2.cpp
  plugins/bf1/bf1.cpp
  plugins/bf1942/bf1942.cpp
  plugins/bf2/bf2.cpp
  plugins/bf2142/bf2142.cpp
  plugins/bf3/bf3.cpp
  plugins/bf4/bf4.cpp
  plugins/bf4_x86/bf4_x86.cpp
  plugins/bfbc2/bfbc2.cpp
  plugins/bfheroes/bfheroes.cpp
  plugins/blacklight/blacklight.cpp
  plugins/borderlands/borderlands.cpp
  plugins/borderlands2/borderlands2.cpp
  plugins/breach/breach.cpp
  plugins/cod2/cod2.cpp
  plugins/cod4/cod4.cpp
  plugins/cod5/cod5.cpp
  plugins/codmw2/codmw2.cpp
  plugins/codmw2so/codmw2so.cpp
  plugins/cs/cs.cpp
  plugins/dys/dys.cpp
  plugins/etqw/etqw.cpp
  plugins/ffxiv/ffxiv.cpp
  plugins/gmod/gmod.cpp
  plugins/gtaiv/gtaiv.cpp
  plugins/gtav/gtav.cpp
  plugins/gw/gw.cpp
  plugins/insurgency/insurgency.cpp
  plugins/jc2/jc2.cpp
  plugins/l4d/l4d.cpp
  plugins/l4d2/l4d2.cpp
  plugins/lol/lol.cpp
  plugins/lotro/lotro.cpp
  plugins/mumble_plugin.h
  plugins/mumble_plugin_linux.h
  plugins/mumble_plugin_main.h
  plugins/mumble_plugin_win32.h
  plugins/ql/ql.cpp
  plugins/rl/rl.cpp
  plugins/sr/sr.cpp
  plugins/ut2004/ut2004.cpp
  plugins/ut3/ut3.cpp
  plugins/ut99/ut99.cpp
  plugins/wolfet/wolfet.cpp
  plugins/wow/wow.cpp
  plugins/wow_x64/wow_x64.cpp
Labels: mumble, positional audio

#3745 Use QSslSocket for Ca Certs on Qt5 < 5.5
  src/SSL.cpp
Labels: Qt, build

#3747 CELT on by default.
  src/mumble/Settings.cpp
Labels: audio, mumble

#3746 Update GTA V (Steam) Plugin
  plugins/gtav/gtav.cpp
Labels: mumble, positional audio

#3677 Add option to omit scope in TTS messages
  src/mumble/Log.cpp
  src/mumble/Log.h
  src/mumble/Log.ui
  src/mumble/Messages.cpp
  src/mumble/Settings.cpp
  src/mumble/Settings.h
Labels: feature-request, mumble

#3744 plugins: process type detection improvements
  plugins/mumble_plugin_linux.h
  plugins/mumble_plugin_main.h
  plugins/mumble_plugin_win32.h
  plugins/mumble_plugin_win32_internals.h
Labels: mumble, positional audio

#3756 Fix for #3755, check if Screen::screenAt(p) is nullptr
  src/mumble/MainWindow.cpp
Labels: mumble

#3765 plugins: add positional audio plugin for GTA: San Andreas
  plugins/gtasa/gtasa.cpp
  plugins/gtasa/gtasa.pro
  plugins/mumble_plugin_main.h
  plugins/plugins.pro
Labels: mumble, positional audio

#3772 compiler.pri: disable warnings for deprecated stuff
  qmake/compiler.pri
Labels: build

#3770 CI: Fix Azure Pipelines build failing
  scripts/azure-pipelines/build.ps1
  scripts/azure-pipelines/install-environment.ps1
Labels: ci

#3768 Docs: Update AUTHORS file
  AUTHORS
Labels: code

#3769 Docs: Update CHANGES file
  CHANGES
Labels: code
