Repository mumble-voip/mumble, pull requests merged in 2019-05, with the labels that each got.

#3684 Set temporary, position, and description in GRPC ChannelAdd
  src/murmur/MurmurGRPCImpl.cpp
Labels: gRPC, murmur

#3683 JackAudio: fix segmentation fault, revamp initialization logic
  src/mumble/JackAudio.cpp
  src/mumble/JackAudio.h
Labels: audio, mumble

#3691 Minimize window on tray icon click
  src/mumble/MainWindow.cpp
Labels: feature-request, mumble, ui

#3690 Build/package murmur in a docker image
  Dockerfile
  src/murmur/murmur.pro
  src/murmur/murmur_ice/murmur_ice.pro
Labels: build, release-management

#3603 GlobalShortcutMac: fix segmentation fault in setEnabled()
  src/mumble/GlobalShortcut_macx.mm
Labels: macOS, mumble

#3695 ServerUser: use QTime instead of std::chrono and ctime
  src/murmur/ServerUser.cpp
  src/murmur/ServerUser.h
Labels: murmur

#3698 fixed setting comment to username instead of updating username
  src/murmur/MurmurGRPCImpl.cpp
Labels: gRPC, murmur
