Repository mumble-voip/mumble, pull requests merged in 2019-04, with the labels that each got.

#3658 Fixed a bug/typo which prevented audio from playing on user disconnect
  src/mumble/Settings.cpp
Labels: mumble

#3652 Azure Pipelines: add macOS build
  .azure-pipelines.yml
  scripts/azure-pipelines/build_macos.bash
  scripts/azure-pipelines/install-environment_macos.bash
Labels: build

#3659 Fix transaction handling in Server::registerUser
  src/murmur/ServerDB.cpp
Labels: murmur

#3646 Build Opus as shared library in static build, copy it into App Bundle
  3rdparty/opus-build/opus-build.pro
  macx/scripts/osxdist.py
  scripts/travis-ci/script.bash
Labels: build, macOS, mumble, release-management

#3632 Add missing advapi32 library reference in server project
  src/murmur/murmur.pro
Labels: build, murmur, windows
