Repository mumble-voip/mumble, pull requests merged in 2019-12, with the labels that each got.

#3916 Log: fix build without TTS
  src/mumble/Log.cpp
  src/mumble/Log.h
Labels: build, mumble

#3920 Fix Xi conflict that appears when MOC files are generated and included by CMake
  src/mumble/GlobalShortcut_unix.cpp
  src/mumble/GlobalShortcut_unix.h
Labels: build, linux, mumble

#3764 Add class documentation and general doxygen completeness
  Doxyfile
  src/mumble/AudioOutput.cpp
  src/mumble/Global.h
  src/mumble/Messages.cpp
  src/mumble/Usage.h
Labels: code

#3919 Manual plugin UI improvement
  src/mumble/ManualPlugin.cpp
  src/mumble/ManualPlugin.ui
  src/mumble/mumble_en.ts
Labels: mumble, positional audio
