Repository mumble-voip/mumble, pull requests merged in 2019-11, with the labels that each got.

#3880 Try to fix channel limit override by subchan delete
  src/murmur/Server.cpp
Labels: murmur

#3876 JackAudio: load symbols at runtime
  3rdparty/jack-src/jack/types.h
  scripts/azure-pipelines/install-environment_linux.bash
  scripts/travis-ci/before_install.bash
  src/mumble/JackAudio.cpp
  src/mumble/JackAudio.h
  src/mumble/mumble.pro
Labels: audio, build, mumble, release-management

#3885 GlobalShortcutWin: fix build without XboxInput
  src/mumble/GlobalShortcut_win.cpp
Labels: build, mumble, windows

#3887 JackAudio: remove locks from realtime callbacks, various improvements
  src/mumble/JackAudio.cpp
  src/mumble/JackAudio.h
Labels: audio, mumble

#3891 fix build without Opus
  src/mumble/Audio.cpp
  src/mumble/AudioInput.cpp
  src/mumble/AudioOutputSpeech.cpp
  src/mumble/MainWindow.cpp
  src/mumble/mumble.pro
Labels: build, mumble

#3889 Revamp PortAudio implementation
  3rdparty/portaudio-src/portaudio.h
  src/mumble/PAAudio.cpp
  src/mumble/PAAudio.h
  src/mumble/mumble.pro
Labels: audio, build, mumble

#3884 ConnectDialog: fix build without Bonjour
  src/mumble/ConnectDialog.cpp
  src/mumble/ConnectDialog.h
Labels: build, mumble
