Repository mumble-voip/mumble, pull requests merged in 2019-01, with the labels that each got.

#3570 Murmur: use dedicated domain for public list registration
  src/murmur/Register.cpp
Labels: murmur

#3575 Add Azure Pipelines for continuous integration (Windows)
  .azure-pipelines.yml
  README.md
  scripts/azure-pipelines/build.ps1
  scripts/azure-pipelines/install-environment.ps1
Labels: ci

#3578 Remove AppVeyor configuration
  appveyor.yml
  scripts/appveyor/appveyor-build.ps1
  scripts/appveyor/appveyor-install-environment.ps1
Labels: ci

#3580 ConnectDialog: create "Unknown" continent, never expand it automatically
  src/mumble/ConnectDialog.cpp
  src/mumble/mumble_en.ts
Labels: mumble

#3586 Murmur: fix Denial of Service vulnerability in msgChannelState()
  src/murmur/Messages.cpp
Labels: murmur

#3587 Global: fix migrateDataDir() not migrating the data directory
  src/mumble/Global.cpp
Labels: linux, mumble

#3590 Fix Duplicate Certificates In Chain Viewer
  src/mumble/ViewCert.cpp
Labels: mumble, ui

#3589 Crossbuild fix
  main.pro
  qmake/compiler.pri
  qmake/pkgconfig.pri
  src/mumble.pri
  src/mumble/mumble.pro
Labels: build, linux
