Repository mumble-voip/mumble, pull requests merged in 2020-01, with the labels that each got.

#3933 Introduce static field for case-sensitivity of AccessTokens
  src/Group.cpp
  src/Group.h
Labels: mumble, murmur

#3943 Murmur: allow certificates without full chain, but do not deem such certificates 'strong'.
  src/murmur/Server.cpp
Labels: murmur

#3934 Add possibility to log, before g.l is available
  src/mumble/Audio.cpp
  src/mumble/Log.cpp
  src/mumble/Log.h
  src/mumble/main.cpp
  src/mumble/mumble_en.ts
Labels: mumble

#3946 Created issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

#3955 Allow bundled translations to overwrite Qt's
  scripts/generate-mumble_qt-qrc.py
  src/mumble/main.cpp
  src/mumble/mumble.pro
  src/mumble/qttranslations/translations.conf
Labels: build, translation

#3613 Update SimpChinese installer and qt translation
  installer/Translations/SimpChinese.wxl
  src/mumble/qttranslations/qt_zh_CN.ts
  src/mumble/qttranslations/translations.conf
Labels: translation

#3956 Ensure CI reflects the actual build status
  scripts/azure-pipelines/build_linux.bash
  scripts/azure-pipelines/build_macos.bash
  scripts/azure-pipelines/install-environment_macos.bash
  scripts/travis-ci/script.bash
Labels: ci

#3957 Improve Azure-Pipelines Windows build
  scripts/azure-pipelines/install-environment.ps1
Labels: ci
