Repository mumble-voip/mumble, pull requests merged in 2020-03, with the labels that each got.

#171 PulseAudio: Cork audio input when it isn't needed
  src/mumble/AudioWizard.cpp
  src/mumble/MainWindow.cpp
  src/mumble/MainWindow.h
  src/mumble/PulseAudio.cpp
  src/mumble/PulseAudio.h
  src/mumble/main.cpp
Labels: audio, linux

#3980 Publish Windows installer as build artifact
  .azure-pipelines.yml
  scripts/azure-pipelines/build.ps1
Labels: ci

#3982 Explicitly set permissions for overlay-pipe
  src/mumble/Overlay.cpp
Labels: mumble, overlay

#3991 CirrusCI: Update to FreeBSD 12.1
  .cirrus.yml
Labels: ci

#3981 Remove bandwidth note from README
  README
  README.md
Labels: documentation

#3984 Allow disabling autoUpdates for snapshot-builds
  src/mumble/NetworkConfig.cpp
  src/mumble/main.cpp
Labels: mumble

#3998 Use qInfo instead of qFatal for normal logging
  src/murmur/main.cpp
Labels: bug, murmur

#4004 Improve implementation of the leaky bucket algorithm
  src/murmur/ServerUser.cpp
  src/murmur/ServerUser.h
Labels: murmur

#4007 AudioInput::encodeOpusFrame: return 0 if Opus is disabled
  src/mumble/AudioInput.cpp
Labels: bug, code

#4017 Add option to log ACL & group changes
  src/ACL.cpp
  src/ACL.h
  src/murmur/Messages.cpp
  src/murmur/Meta.cpp
  src/murmur/Meta.h
  src/murmur/main.cpp
Labels: feature-request, murmur

#4018 src/mumble/UserModel.cpp: Fix talking indicator
  src/mumble/UserModel.cpp
Labels: mumble, ui

#4019 src/mumble/WebFetch.cpp: Fix endless loop if there is no prefix
  src/mumble/WebFetch.cpp
Labels: bug, mumble

#4024 src/mumble/Settings: Removed implementation of deprecated expert-setting
  src/mumble/Settings.cpp
  src/mumble/Settings.h
Labels: code
